# Maven
**/target/

# Java
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Variáveis de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
